/* mobile screen */
@media screen and (max-device-width:480px) and (orientation: portrait) {
    * {
        padding: 0;
        margin: 0;
    }

    .container {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows:200px 200px 200px 200px 200px 200px 200px;
        grid-template-areas:
            "Head"
            "menu"
            "h"
            "main"
            "ban"
            "ex"
            "img"

        ;
    }

    .container div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        grid-area: Head;
        background-color: blue;
    }

    .menu {
        grid-area: menu;
        background-color: blueviolet;
    }

    .hero {
        grid-area: h;
        background-color: red;
    }

    .main {
        grid-area: main;
        background-color: goldenrod;

    }

    .banner {
        grid-area: ban;
        background-color: yellow;
    }

    .extra {
        grid-area: ex;
        background-color: palegoldenrod;
    }

    .img {
        grid-area: img;
        background-color: palevioletred;
    }


}

/* mobile screen end */


/* tablet screen */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
    }

    .container {

        max-height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: 50px 200px 150px 95px 95px;
        grid-template-areas:
            "Head Head Head Head"
            "h h h h"
            "menu main main main"
            "menu ban ban ban"
            "menu ex ex img"
        ;
    }

    .header {
        grid-area: Head;
        background-color: blue;
    }

    .menu {
        grid-area: menu;
        background-color: blueviolet;
    }

    .hero {
        grid-area: h;
        background-color: red;
    }

    .main {
        grid-area: main;
        background-color: goldenrod;

    }

    .banner {
        grid-area: ban;
        background-color: yellow;
    }

    .extra {
        grid-area: ex;
        background-color: palegoldenrod;
    }

    .img {
        grid-area: img;
        background-color: palevioletred;
    }


}

/* tablet screen end */
.container div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: x-large
}

/* desktop screen */
@media screen and (min-device-width:1200px) {
  * {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 10vw 20vw 7vw 7vw 8vw;
    grid-template-areas:
        "Head menu menu menu"
        "h h h h"
        "main main empty img"
        "main main empty ex"
        "ban ban ban ban"
    ;
}

.header {
    grid-area: Head;
    background-color: lightblue;
}

.menu {
    grid-area: menu;
    background-color: blueviolet;
}

.hero {
    grid-area: h;
    background-color: red;
}

.main {
    grid-area: main;
    background-color: goldenrod;

}

.banner {
    grid-area: ban;
    background-color: yellow;
}

.extra {
    grid-area: ex;
    background-color: palegoldenrod;
}

.img {
    grid-area: img;
    background-color: palevioletred;
}

.empty {
    grid-area: empty;
}  
}
