body
{
    min-height: 100vh;
}
.container
{
height: 100vh;
    display:flex;
    justify-content: space-between;
align-items: center;
}
.box1
{
    background-color: black;
}
.box2
{
    background-color: blue;
}
.box3
{
    background-color: red;
}